In [1]:
name1="hello"
name2="python"
print(name1,name2)

hello python

In [6]:
a=10
b=20
c=a+b
print("the value of a and b is c")

the value of a and b is c

In [13]:
a=10
b=20
c=a+b
print("the value of", a, "and", b, "is",c)

the value of 10 and 20 is 30

In [15]:
print("hello")
print('python')

hello
python

In [16]:
print("Iam satishwar, iam from hyd, iam 24 years old")

Iam satishwar, iam from hyd, iam 24 years old

In [25]:
name="satishwar"
age=31
city="hyderabad"
print("I am", name,"I am from", city, "I am", age, "years old")

I am satishwar I am from hyderabad I am 31 years old

In [28]:
a=10
b=20
c=a+b
print("the value of {} and {} is {}".format(a,b,c))

the value of 10 and 20 is 30

In [29]:
name="satishwar"
age=31
city="hyderabad"
print("I am {} am from {} I am {} years old".format(name,city,age))

I am satishwar am from hyderabad I am 31 years old

# f string concept

In [31]:
name="satishwar"
age=31
city="hyderabad"
print(f"I am {a} am from {b} I am {c} years old")

I am 10 am from 20 I am 30 years old

In [35]:
a=10
b=20
c=a+b
print("the value of {} and {} is {}".format(a,b,c))
print("the value of", a, "and", b, "is",c)
print(f"the value of {a} and {b} is {c}")

the value of 10 and 20 is 30
the value of 10 and 20 is 30
the value of 10 and 20 is 30

In [39]:
name="satishwar"
age=31
city="hyderabad"
print(f"I am {name} am from {age} I am {city} years old")
print("I am", a, "Iam from", b, "iam ",c, "years old")
print("I am {} am from {} I am {} years old".format(a,b,c))

I am 10 am from 20 I am 30 years old
I am 10 Iam from 20 iam  30 years old
I am 10 am from 20 I am 30 years old

$end$

In [43]:
print('hello',end=" and ")
print('python')

hello and python

red color = string 
green color = key words 
black color = variable

In [45]:
print(1,end=",")
print(2,end=",")
print(3)

1,2,3